.header-inner-container {
  width: 100%;
  height: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  margin: 0 4rem;
  padding: 0.5rem 0;
}

.stickyHeader {
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 05em 5em;
  backdrop-filter: blur(8px);
  /* box-shadow: 1px 1px 97px -30px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 1px 1px 97px -30px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 1px 1px 97px -30px rgba(0, 0, 0, 0.9); */
  box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: #f0cebc48;
}

.stickyHeader .nav-content {
  height: 3rem;
  padding: 0.5rem;
  /* border-radius: 0 0 05em 5em; */

  height: 100%;
  align-items: center;
  position: relative;
}

.stickyHeader .nav-items {
  height: 100%;
  align-items: center;
  position: relative;
}

.header {
  padding: 3rem 0 0 0;
  position: sticky;
  top: 0;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
}

.header:has(.stickyHeader) {
  padding: 1.5rem 0 1.5rem 0;
  z-index: 10;
}

.header.drop-down {
  /* position: relative; */
  /* overflow: visible; */
  z-index: 2;
}

.toggle-menu-btn {
  position: relative;
  box-sizing: border-box;
  /* padding-bottom: 2px; */
  opacity: 0;
  height: 145%;
  width: 0;
  flex-shrink: 0;
  visibility: hidden;
  transform: scale(1, 1.25);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.075s,
    visibility 0.5s, width 0.3s ease-in-out 0.5s, opacity 0.3s ease-in-out;
  z-index: 0;
}
.toggle-menu-inner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.toggle-menu-btn.open {
  color: var(--color-secondary);
  padding-bottom: 0;
  padding-right: 2px;
  transform: rotate(0.25turn) scale(1, 1.25);
  z-index: 100;
}

.toggle-menu-btn:hover {
  color: var(--color-secondary);
  transition: color 0.075s;
}

.drop-down-menu-container {
  right: 0;
  top: 0;
  width: 50%;
  height: 80vh;
  padding-bottom: 3em;
  margin: 1rem;
  border-radius: 0.5em 0.5em 0.5em 27em;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .toggle-menu-btn {
    opacity: 1;
    visibility: visible;
    width: 2em;
  }
}

/* @media (max-width: 519px) {
} */

@media (max-width: 630px) {
  .header-inner-container {
    margin: 0 2rem;
  }
  .header {
    padding: 1.5rem 0 0 0;
  }
  /* .stickyHeader {
    border-radius: 0;
  } */
}
