.home-right {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-left {
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-color: #3dffd2;
}

.flower {
  color: var(--color-secondary);
  font-size: 6rem;
  position: absolute;
  top: -10%;
  left: -10%;
}

.home-content {
  font-size: 1.35rem;
}

.home-header {
  font-size: 6rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: var(--color-secondary);
}

.home-pre-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  font-family: var(--font-basic);
  color: var(--color-accent-text);
}

.home-headshot {
  height: 350px;
  border-radius: 2.55rem;
}

.home-content {
  display: flex;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.link {
  /* background-size: 100% 0.65em; */
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.link > :first-child {
  font-size: 2rem;
  border-radius: 0;
  margin-bottom: 0.25rem;
}
/* 
.link:hover {
  filter: brightness(80%);
} */
.link span {
  color: var(--color-text);
}
/* .link:hover span a {
  background-image: linear-gradient(var(--color-secondary) 0 0);
} */

/* .links > * {
  font-size: 2rem;
  border-radius: 0;
  margin: 0.5rem;
} */

@media (max-width: 960px) {
  .home-headshot {
    height: 37.6vw;
  }
  .home-pre-header {
    font-size: 1.5rem;
  }
  .home-header {
    font-size: 5rem;
  }
  .home p {
    font-size: 1.25rem;
  }
}
@media (max-width: 865px) {
  .home-pre-header {
    font-size: 1.25rem;
  }
  .home-header {
    font-size: 4rem;
  }
  .home p {
    font-size: 1.15rem;
  }
}
@media (max-width: 750px) {
  .home-pre-header {
    font-size: 1rem;
  }
  .home-header {
    font-size: 3rem;
  }

  .home p {
    font-size: 1rem;
  }
}
@media (max-width: 630px) {
  .home-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .home-header {
    font-size: 4rem;
    margin: 0 0 0.5rem 0;
  }
  .home-headshot {
    width: 60%;
    height: auto;
  }
  .home.page {
    height: 100%;
    /* margin-top: 1rem; */
  }

  .home-content {
    flex-grow: 1;
    justify-content: center;
  }

  /* .home .page-link-container {
    margin-bottom: 2rem;
  } */
  .home-right {
    margin: 0;
    text-align: center;
  }

  .links {
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .home-header {
    font-size: 3rem;
  }
}
