.projects-container {
  /* background-color: var(--color-border-offset); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 2rem; */
}

.projects-proj-item {
  list-style-type: none;
  border-radius: 0;
  padding-bottom: 2.25rem;
  width: 100%;
  border-bottom: 2px solid var(--color-border-offset);
}

/* .projects-proj-item:first-of-type {
  padding-top: 0;
} */
/* .projects-proj-item:last-of-type {
  padding-bottom: 0;
} */

.projects.page {
  padding-bottom: 4rem;
}

.projects-skills li {
  margin-bottom: 1rem;
}

@media (max-width: 960px) {
  .projects-proj-item > div {
    display: flex;
    flex-direction: column;
  }
}
